<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/default}">
<th:block layout:fragment="title">
    <title>회원가입 페이지</title>
</th:block>

<th:block layout:fragment="content">    <!-- /* body.html 중 content 영역에 출력할 조각 */ -->
    <div class="page_tits">
        <h3>회원 가입</h3>
        <p class="path"><strong>현재 위치 :</strong><span>회원 가입</span></p>
    </div>
    <div class="content">
        <selection>
            <div class="container-fluid">
                <div id="signupPopup" class="popLayer">
                    <div class="row mb-2 text-center">
                        <div class="col-3">이름</div>
                        <div class="col"><input type="text" class="form-control" id="username" name="username"/></div>
                    </div>
                    <div class="row mb-2 text-center">
                        <div class="col-3">아이디</div>
                        <div class="col"><input type="text" class="form-control" id="id" name="id"></div>
                    </div>
                    <div class="row mb-2 text-center">
                        <div class="col-3">비밀번호</div>
                        <div class="col"><input type="password" placeholder="비밀번호" class="form-control" id="password1" name="password1"></div>
                    </div>
                    <div class="row mb-2 text-center">
                        <div class="col-3">비밀번호확인</div>
                        <div class="col"><input type="password" placeholder="비밀번호확인" class="form-control" id="password2" name="password2"></div>
                    </div>
                    <div class="row mb-2 text-center">
                        <div class="col-3">이메일</div>
                        <div class="col-4"><input type="text" class="form-control" id="email" name="email"></div>
                        <div class="col-2"><span class="input-group-text"></span>@</div>
                        <div class="col-3">
                            <select class="custom-select custom-select-lg" id="selDomain" name="selDomain">
                                <option value="">도메인 선택</option>
                                <option value="google.com">Google</option>
                                <option value="naver.com">Naver</option>
                                <option value="kakao.com">Kakao</option>
                            </select>
                        </div>
                    </div>

                    <div id="edit-footer" class="container-fluid text-center">
                        <button type="button" class="btn btn-primary" id="btnEdit">수정</button>
                        <button type="button" class="btn btn-dark" id="btnCancel">취소</button>
                    </div>
                </div>
            </div>
        </selection>
    </div> <!-- /* .content */ -->
</th:block>

<th:block layout:fragment="script">
    <script th:inline="javascript">
    </script>
</th:block>
</html>
