<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/login.css}">
    <link rel="stylesheet" th:href="@{/css/default.css}">
    <link rel="stylesheet" th:href="@{/css/button.css}">
</head>
<body>
<section class="vh-100" style="background-color: #9A616D;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-10">
                <div class="card" style="border-radius: 1rem;">
                    <div class="row g-0">
                        <div class="col-md-6 col-lg-5 d-none d-md-block">
                            <img th:src="@{/images/bg.png}" alt="logo" title="source by 'Sophie Han'" class="img-fluid" style="border-radius: 1rem 0 0 1rem;"/>
                        </div>
                        <div class="col-md-6 col-lg-7 d-flex align-items-center">
                            <div class="card-body p-4 p-lg-5 text-black">
                                <form>
                                    <div class="d-flex align-items-center mb-3 pb-1">
                                        <!--<i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;">
                                            <img th:src="@{/images/camp_chairing_woman.png}" alt="login form" title="source by 'https://www.irasutoya.com/'" width="40px">
                                        </i>
                                        <span class="h3 fw-bold mb-0" style="color: grey;">Sophie's Home</span>-->
                                    </div>

                                    <h5 class="form-label mb-3 pb-3" style="letter-spacing: 1px;"><em>Sign into your account</em></h5>

                                        <div class="form-floating mb-4">
                                            <input type="email" id="logIn" class="form-control" placeholder="Email address"/>
                                            <label class="form-label" for="logIn">Email address</label>
                                        </div>

                                        <div class="form-floating mb-4">
                                            <input type="password" id="password" class="form-control" placeholder="Password"/>
                                            <label class="form-label" for="password">Password</label>
                                        </div>

                                        <div class="pt-1 mb-4">
                                            <button class="btn btn-dark btn-lg btn-block" type="button">Login
                                            </button>
                                        </div>

                                        <a class="small text-muted" href="#!">Forgot password?</a>
                                        <p class="mb-5 pb-lg-2" style="color: #393f81;">Don't have an account?
                                            <a href="#!" style="color: #393f81;">Register here</a></p>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>

<!-- bootstrap JS -->
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<!--

<script>
    // Enter 로그인 이벤트 바인딩
    window.onload = () => {
        document.querySelectorAll('#loginId, #password').forEach(element => {
            element.addEventListener('keyup', (e) => {
                if (e.keyCode === 13) {
                    login();
                }
            })
        })
    }

    // 로그인
    function login() {
        const form = document.getElementById('loginForm');

        if (!form.loginId.value || !form.password.value) {
            alert('아이디와 비밀번호를 모두 입력해 주세요.');
            form.loginId.focus();
            return false;
        }
        /*
                $.ajax({
                    url : '/login',
                    type : 'POST',
                    dataType : 'json',
                    data : {
                        loginId: form.loginId.value,
                        password: form.password.value
                    },
                    async : false,
                    success : function (response) {
                        location.href = '/board/list.do';
                    },
                    error : function (request, status, error) {
                        alert('아이디와 비밀번호를 확인해 주세요.');
                    }
                })*/
    }
</script>-->
