<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<th:block layout:fragment="title">
  <title>Sophie's Home</title>
</th:block>

<!--<head>
  <meta name="_csrf" th:content="${_csrf.token}"/>
  <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>-->

<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">

  <script th:inline="javascript">
    $(document).ready(function(){
      $("input[name=cartChkBox]").change(function(){ //주문할 상품을 체크하거나 해제할 경우
        getOrderTotalPrice();
      });
    });

    function getOrderTotalPrice(){ // 총 주문 금액을 구하는 함수
      let orderTotalPrice = 0;

      $("input[name=cartChkBox]:checked").each(function(){ // 현재 체크된 장바구니 상품들의 총 주문 금액 계산
        let cartItemId = $(this).val();
        let price = $("#price_" + cartItemId).attr("data-price");
        let count = $("#count_" + cartItemId).val();
        orderTotalPrice += price * count;
      });

      $("#orderTotalPrice").html(orderTotalPrice + "원");
    }

    function changeCount(obj) { // 장바구니에 들어있는 상품 수량 변경시 총 주문 금액 변경
      let count = obj.value;
      let cartItemId = obj.id.split("_")[1];
      let price = $("#price_" + cartItemId).data("price");
      let totalPrice = count * price;
      $("#totalPrice_" + cartItemId).text(totalPrice + "원");

      getOrderTotalPrice(); // 총 주문 금액 가져옴
      updateCartItemCount(cartItemId, count); // 장바구니 상품 수량 수정
    }

    function checkAll() { // 장바구니에 들어있는 전체 상품을 체크하거나 체크 해제 하는 함수
      if ($("#checkAll").prop("checked")) {
        $("input[name=cartChkBox]").prop("checked", true);
      } else {
        $("input[name=cartChkBox]").prop("checked", false);
      }

      getOrderTotalPrice()
    }

    function updateCartItemCount(cartItemId, count) {
      const token = $("meta[name='_csrf']").attr("content");
      const header = $("meta[name='_csrf_header']").attr("content");

      let url = "/views/shop/cartItem/" + cartItemId + "?count=" + count;

      $.ajax({
        url: url,
        type: "PATCH", // 부분 업데이트
        dataType: "json",
        cache: false,
        success: function(result, status) {
          console.log("cartItem count update success");
          location.href = "/";
        },
        error : function(jqXHR, status, error){

          if(jqXHR.status === '401'){
            alert('로그인 후 이용해주세요');
            location.href='/views/shop/members/login';
          } else{
            alert(jqXHR.responseJSON.message);
          }

        }
      });
    }

    function deleteCartItem(obj) {
      const token = $("meta[name='_csrf']").attr("content");
      const header = $("meta[name='_csrf_header']").attr("content");

      let cartItemId = obj.dataset.id;
      // console.log("id", obj.dataset.id);
      let url = "/views/shop/cartItem/" + cartItemId;

      $.ajax({
        url: url,
        type: "DELETE", // 부분 업데이트
        dataType: "json",
        cache: false,
        success: function(result, status) {
          location.href = "/views/shop/cart";
        },
        error : function(jqXHR, status, error){

          if(jqXHR.status === '401'){
            alert('로그인 후 이용해주세요');
            location.href='/views/shop/members/login';
          } else{
            alert(jqXHR.responseJSON.message);
          }

        }
      });
    }


    function orders() {
      const token = $("meta[name='_csrf']").attr("content");
      const header = $("meta[name='_csrf_header']").attr("content");

      let url = "/views/shop/cart/orders";

      let dataList = [];
      let paramData = {};

      $("input[name=cartChkBox]:checked").each(function(){ // 체크된 장바구니 상품 아이디 dataList에 저장
        let cartItemId = $(this).val();
        let data = {};
        data["cartItemId"] = cartItemId;
        dataList.push(data);
      });

      paramData['cartOrderDtoList'] = dataList; // dataList 배열을 paramData 객체에 넣기

      let param = JSON.stringify(paramData);

      $.ajax({
        url: url,
        type: "POST",
        contentType: "application/json; charset=utf-8",
        data: param,
        dataType: "json",
        cache: false,
        success  : function(result, status){
          alert("주문이 완료 되었습니다.");
          location.href='/views/shop/orders';
        },
        error : function(jqXHR, status, error){

          if(jqXHR.status === '401'){
            alert('로그인 후 이용해주세요');
            location.href='/views/shop/members/login';
          } else{
            alert(jqXHR.responseJSON.message);
          }

        }
      });
    }
  </script>

</th:block>

<th:block layout:fragment="content">
  <div class="page_tits">
    <h3>장바구니</h3>
    <p class="path"><strong>현재 위치 : </strong><span>home</span> <span>쇼핑몰</span> <span>장바구니</span>
  </div>

  <div class="content-mg">
    <div>

      <table class="table">
        <colgroup>
          <col style="width:15%;" />
          <col style="width:70%;" />
          <col style="width:15%;" />
        </colgroup>
        <thead>
        <tr class="text-center">
          <td>
            <input type="checkbox" id="checkAll" onclick="checkAll()"> 전체선택
          </td>
          <td>상품정보</td>
          <td>상품금액</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="cartItem : ${cartItems}">
          <td class="text-center align-middle">
            <input type="checkbox" name="cartChkBox" th:value="${cartItem.cartItemId}">
          </td>
          <td class="d-flex">
            <div class="repImgDiv align-self-center">
              <img th:src="${cartItem.imgUrl}" class="rounded repImg" th:alt="${cartItem.itemNm}">
            </div>
            <div class="align-self-center">
              <span th:text="${cartItem.itemNm}" class="fs24 font-weight-bold"></span>
              <div class="fs18 font-weight-light">
                <span class="input-group mt-2">
                  <span th:id="'price_' + ${cartItem.cartItemId}"
                        th:data-price="${cartItem.price}"
                        th:text="${cartItem.price} + '원'" class="align-self-center mr-2"></span>
                  <input type="number" name="count"
                         th:id="'count_' + ${cartItem.cartItemId}"
                         th:value="${cartItem.count}" min="1"
                         onchange="changeCount(this)" class="form-control mr-2">
                  <button type="button" class="close" aria-label="Close">
                    <span aria-hidden="true" th:data-id="${cartItem.cartItemId}" onclick="deleteCartItem(this)">&times;</span>
                  </button>
                </span>
              </div>
            </div>
          </td>
          <td class="text-center align-middle">
            <span th:id="'totalPrice_' + ${cartItem.cartItemId}" name="totalPrice" th:text="${cartItem.price * cartItem.count} + '원'"></span>
          </td>
        </tr>
        </tbody>

      </table>

      <h2 class="text-center">
        총 주문 금액 : <span id="orderTotalPrice" class="text-danger">0원</span>
      </h2>

      <div class="text-center mt-3">
        <button type="button" class="btn btn-primary btn-lg" onclick="orders()">주문하기</button>
      </div>
    </div>

</div> <!-- /* .content */ -->
</th:block>


</html>