<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/default}">
<th:block layout:fragment="title">
    <title>게시판 페이지</title>
</th:block>

<th:block layout:fragment="content">    <!-- /* body.html 중 content 영역에 출력할 조각 */ -->    <!-- /* body.html 중 content 영역에 출력할 조각 */ -->
    <div class="page_tits">
        <h3>개발 정보</h3>
        <p class="path"><strong>현재 위치 : </strong><span>개발 정보</span> <span>개발 정보</span>
    </div>

    <div class="content">

        <div class="container-fluid px-4">
            <div class="card mb-4">
                <div class="card-body">
                    <form>
                        <div class="mb-3">
                            <label for="txt1" class="form-label h5">프로젝트 정보</label>
                            <textarea class="form-control" id="txt1" name="content" rows="5" readonly>
팩키지 : com.dotdot.site
font : 고운 돋음체
font 출처 : Google Fonts Website, https://fonts.google.com/
icon 출처 : Feather Website, https://feathericons.com
image 출처 : Mifune Takashi(みふねたかし) Website, https://www.irasutoya.com
                            </textarea>
                        </div>
                        <div class="mb-3">
                            <label for="txt2" class="form-label h5">개발 환경</label>
                            <textarea class="form-control" id="txt2" name="content" rows="5" readonly>
개발 언어 : JAVA
개발 도구 : IntelliJ
프레임워크 : Spring Boot
WAS : Spring Boot에 Tomcat Server 내장됨.
DB : mariaDB
Builder : Gradle
UX : Thymeleaf, jQuery(Ajax 비동기 처리)
UI : Bootstrap
CI & CD : Docker
                            </textarea>
                        </div>
                        <div class="mb-3">
                            <label for="txt3" class="form-label h5">Dependence Info</label>
                            <textarea class="form-control" id="txt3" name="content" rows="5" readonly>
Spring Boot DevTools
Spring Data JPA
Spring Web
Spring Web Service
MariaDB Driver
Lombok
Thymeleaf
Thymeleaf-layout-dialect
                            </textarea>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div> <!-- /* .content */ -->
</th:block>

<th:block layout:fragment="script">
    <script th:inline="javascript">
    </script>
</th:block>
</html>
