<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/default}">
<th:block layout:fragment="title">
  <title>Sophie's Home</title>
</th:block>

<th:block layout:fragment="content">


  <!-- /* .content */ -->
</th:block>
  <div class="page_tits">
    <h3>글쓰기</h3>
    <p class="path"><strong>현재 위치 : </strong><span>게시판</span> <span>글쓰기</span>
  </div>

  <div class="content container-fluid">
    <div class="container">
      <form action="" method="post">
        <div class="form-group">
          <label for="title"></label><input type="text" class="form-control" id="title" placeholder="Enter title">
        </div>
        <div class="form-group">
          <label for="content"></label><textarea class="form-control summernote" rows="5" id="content"></textarea>
        </div>
      </form>

      <button id="btn-save" class="btn btn-primary">글쓰기</button>
    </div>
  </div>

  <!-- /* Board JS */ -->
  <script th:src="@{/js/board.js}"></script>
  <!-- /* Common JS */ -->
  <script th:src="@{/js/function.js}"></script>
  <script th:src="@{/js/jquery-3.6.0.min.js}"></script>
  <script th:src="@{/js/common.js}"></script>
  <th:block layout:fragment="script">
    <script th:inline="javascript">
      /*<![CDATA[*/

      window.onload = () => { // 페이지 로딩 시점에 단 한번만 실행되는 코드.
        // PostController.java --> openPostWrite()
        //renderPostInfo();
      }

      $('.summernote').summernote({
        tabsize: 2,
        height: 300
      });
/*
      // 게시글 상세정보 랜더링
      function renderPostInfo() {
        const board = [[ ${board} ]]

        if ( !board ) { // 신규 게시글 수정하는 경우에만 수행됨.
          initCreateDate();
          return false;
        }

        const form = document.getElementById('saveForm');
        const fields = ['id', 'title', 'content', 'writer', 'noticeYn'];
        form.createDate.value = dayjs(board.createDate).format('YYYY-MM-DD HH:mm');

        fields.forEach(fields => {
          form[fields].value = post[board];
        })
      }*/

      /*]]>*/
    </script>
  </th:block>
</html>
