<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/default}">
<th:block layout:fragment="title">
    <title>Sophie's Home</title>
</th:block>

<th:block layout:fragment="content">    <!-- /* body.html 중 content 영역에 출력할 조각 */ -->    <!-- /* body.html 중 content 영역에 출력할 조각 */ -->
    <div class="page_tits">
        <h3>Info</h3>
        <p class="path"><strong>현재 위치 : </strong><span>home</span> <span>Info</span>
    </div>

    <div class="content">

        <div class="container-fluid px-4">
            <div class="card mb-4">
                <div class="card-body">
                    <form>
                        <div class="mb-3">
                            <label for="txt0" class="form-label h5 fw-bold">Sophie's Home?</label>
                            <textarea class="form-control" id="txt0" name="content" rows="2" readonly>
포트폴리오 용으로 제작된 홈페이지 입니다.
                            </textarea>
                        </div>
                        <div class="mb-3">
                            <label for="txt2" class="form-label h5 fw-bold">개발 환경</label>
                            <textarea class="form-control" id="txt2" name="content" rows="8" readonly>
Language : JAVA
IDE : Spring Boot, IntelliJ
UX/UI : Thymeleaf, jQuery, Bootstrap-lite, Summernote
WAS : Spring Boot에 Tomcat Server 내장되어 있음.
DB : mariaDB
Builder : Gradle
CI & CD : Docker
                            </textarea>
                        </div>
                        <div class="mb-3">
                            <label for="txt3" class="form-label h5 fw-bold">개발 라이브러리</label>
                            <textarea class="form-control" id="txt3" name="content" rows="3" readonly>
Spring Boot DevTools, Spring Web, JPA, MariaDB Driver, Lombok, Thymeleaf, Thymeleaf-layout-dialect, Validation
                            </textarea>
                        </div>
                        <div class="mb-3">
                            <label for="txt1" class="form-label h5 fw-bold">개발 콘텐츠 출처</label>
                            <textarea class="form-control" id="txt1" name="content" rows="4" readonly>
Font : 고운 돋음체, https://fonts.google.com/
Icon : Feather Icon, https://feathericons.com
Image : Mifune Takashi(みふねたかし) 일러스트, https://www.irasutoya.com
                            </textarea>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div> <!-- /* .content */ -->
</th:block>

</html>
