<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/default}">
<th:block layout:fragment="title">
    <title>Sophie's Home</title>
</th:block>

<th:block layout:fragment="content">    <!-- /* body.html 중 content 영역에 출력할 조각 */ -->    <!-- /* body.html 중 content 영역에 출력할 조각 */ -->
    <div class="page_tits">
        <h3>홈페이지 정보</h3>
        <p class="path"><strong>현재 위치 : </strong><span>홈페이지 정보</span>
    </div>

    <div class="content">

        <div class="container-fluid px-4">
            <div class="card mb-4">
                <div class="card-body">
                    <form>
                        <div class="mb-3">
                            <label for="txt0" class="form-label h5">홈페이지 정보</label>
                            <textarea class="form-control" id="txt0" name="content" rows="2" readonly>
Shophie's Home?
포트폴리오 용으로 제작된 홈페이지 입니다.
                            </textarea>
                        </div>
                        <div class="mb-3">
                            <label for="txt2" class="form-label h5">개발 환경</label>
                            <textarea class="form-control" id="txt2" name="content" rows="5" readonly>
Language : JAVA
IDE : Spring Boot, IntelliJ
UX/UI : Thymeleaf, jQuery(Ajax 비동기 처리), Bootstrap-lite, Summernote
WAS : Spring Boot에 Tomcat Server 내장됨.
DB : mariaDB
Builder : Gradle
CI & CD : Docker
                            </textarea>
                        </div>
                        <div class="mb-3">
                            <label for="txt3" class="form-label h5">개발 라이브러리</label>
                            <textarea class="form-control" id="txt3" name="content" rows="5" readonly>
Spring Boot DevTools
Spring Data JPA
Spring Web
Spring Web Service
MariaDB Driver
Lombok
Thymeleaf
Thymeleaf-layout-dialect
                            </textarea>
                        </div>
                        <div class="mb-3">
                            <label for="txt1" class="form-label h5">사용한 콘텐츠 출처</label>
                            <textarea class="form-control" id="txt1" name="content" rows="4" readonly>
font 출처 : Google Fonts Website, https://fonts.google.com/, 고운 돋음체
icon 출처 : Feather Website, https://feathericons.com
image 출처 : Mifune Takashi(みふねたかし) Website, https://www.irasutoya.com
                            </textarea>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div> <!-- /* .content */ -->
</th:block>

</html>
