<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/default}">
<th:block layout:fragment="title">
    <title>Sophie's Home</title>
</th:block>

<th:block layout:fragment="content">    <!-- /* body.html 중 content 영역에 출력할 조각 */ -->    <!-- /* body.html 중 content 영역에 출력할 조각 */ -->
    <div class="page_tits">
        <h3>게시판</h3>
        <p class="path"><strong>현재 위치 : </strong><span>home</span> <span>게시판</span>
    </div>

    <div class="content">
        <div class="card m-2" th:each="board : ${boards.content}">
            <div class="card-body">
                <h4 class="card-title">[[${board.title}]]</h4>
                <a th:href="@{/views/board/{id}(id=${board.id})}" class="btns btn_st4 btn_mid">상세보기</a>
            </div>
        </div>

        <ul class="pagination justify-content-center">

            <li class="page-item disabled"><a class="page-link" th:if="${boards.first}" th:href="@{|?page=${boards.number - 1}|}">Previous</a></li>
            <li class="page-item"><a class="page-link" th:unless="${boards.first}" th:href="@{|?page=${boards.number - 1}|}">Previous</a></li>

            <li class="page-item disabled"><a class="page-link" th:if="${boards.last}" th:href="@{|?page=${boards.number + 1}|}">Next</a></li>
            <li class="page-item"><a class="page-link" th:unless="${boards.last}" th:href="@{|?page=${boards.number + 1}|}">Next</a></li>

        </ul>
        <!-- /* 버튼 */ -->
        <p class="btn_set tr">
            <a th:href="@{/board/write}" class="btns btn_st5 btn_mid">글쓰기</a>
        </p>

    </div> <!-- /* .content */ -->
    <!--<script th:inline="javascript" type="text/javascript" th:src="@{/js/board.js}"></script>-->
</th:block>
</html>
