<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/default}">
<th:block layout:fragment="title">
  <title>Sophie's Home</title>
</th:block>

<th:block layout:fragment="content">

  <div class="page_tits">
    <h3>글수정</h3>
    <p class="path"><strong>현재 위치 : </strong><span>home</span> <span>게시판</span> <span>글수정</span>
  </div>

  <div class="content">
    <form action="" method="put">
      <!-- /* 게시글 수정인 경우, 서버로 전달할 게시글 번호 (PK) */ -->
      <input type="hidden" id="id" th:name="id" th:value="${board.id}" />
      <div class="form-group">
        <label for="title" class="form-label fw-bold">제목</label>
        <input type="text" class="form-control" id="title" th:name="title" th:value="${board.title}">
      </div>
      <div class="form-group">
        <label for="title" class="form-label fw-bold">작성자</label>
        <input type="text" class="form-control" id="userName" th:name="userName" th:value="${board.userName}">
      </div>
      <div class="form-group">
        <label for="content" class="form-label fw-bold">내용</label>
          <textarea class="form-control summernote" id="content" th:name="content" rows="5">
            [[${board.content}]]
          </textarea>
      </div>
    </form>

    <p class="btn_set tr">
      <button id="btn-update" class="btns btn_st5 btn_mid">수정</button>
      <a th:href="@{/board/list}" class="btns btn_st2 btn_mid">목록</a>
    </p>
  </div>

    <script th:inline="javascript" type="text/javascript" th:src="@{/js/board.js}"></script>
</th:block>

</html>
