@charset "utf-8";

/* skip */
#skipnav {overflow:hidden; position:absolute; width:100%; z-index:1000;}
#skipnav a {display:block; overflow:hidden; height:1px; width:1px; margin:0 -1px -1px 0; font-size:0; line-height:0; text-align:center;}
#skipnav a:focus, #skipnav a:hover, #skipnav a:active {width:auto; height:20px; margin:0; padding:8px 0 5px; background:#20262c; font-size:12px; font-weight:700; line-height:1; color:#fff;}

.skip_info {display:block; position:absolute; overflow:hidden; width:1px; height:1px; font-size:0; line-height:0; text-indent:100%;}

#adm_wrap {padding-bottom:40px; min-height:100%; min-width:1200px; position:relative; box-sizing:border-box;}
#footer {width: 100%; height: 200px; position: relative; bottom: 0;}
.innerwrap {max-width:1200px; margin:0 auto;}

nav > ul > li.has_sub > a::after, .menu_toggle > span,
.chkbox input:checked+i::before,
.file_list > div > button > span::before, .file_upload label i::after,
/* .paging .page_bt::after, .es, .wr_cm_txt span::before, .cm_list > div .cm_answer::before, .rating_star, .rating_star_per {content:''; background-image:url(../images/icons.png); background-repeat:no-repeat;} */

header * {box-sizing:border-box;}
header {position:relative; z-index:1;}
header .head {overflow:hidden; border-bottom:3px solid rgba(67,75,83,1); padding:10px 15px; background:#fff;}
header .head h1 {color:#111; font-size:17px; font-weight:500; letter-spacing:0; float:left;}
header .head h1 i {color:#e3e3e3; font-size:12px; font-weight:400;}
header .head .top_menu_l {float:left;}
header .head .top_menu {float:right;}
header .head .top_menu > div {display:inline-block; font-size:13px;}
header .head .top_menu > div i {font-size:12px; color:#fff;}
header .head .top_menu > div button {background:#fff; border:0; border-radius:3px; width:28px; height:28px; padding:0;}
header .head .top_menu > div.login_user {margin-right:20px;}
header .head .top_menu > div.login_user strong, header .head .top_menu > div.login_user strong i {color:#333;}
header .head .top_menu > div.login_user strong i {font-size:16px; vertical-align:bottom;}

/* nav메뉴 */
nav * {box-sizing:border-box;}
nav > ul > li {border-bottom:1px solid #363c43; position:relative;}
nav > ul > li::before {content:''; background:#4c555e; width:100%; height:1px; position:absolute; bottom:0; left:0;}
nav > ul > li a {display:block; color:rgba(255,255,255,0.9);}
nav > ul > li a.on {color:#fff;}
nav > ul > li > a {font-size:15px; font-weight:500; padding:15px 12px;}
nav > ul > li > a.on {background:#6c757d; border-bottom-color:transparent; position:relative;}
nav > ul > li > a span {display:block; position:relative;}
nav > ul > li > a.on + ul {display:block;}
nav > ul > li > ul {display:none; padding:10px 0;}
nav > ul > li > ul > li > a {padding:5px 15px 5px 25px; position:relative;}
nav > ul > li > ul > li > a::before {content:''; background:#aaa; width:3px; height:2px; position:absolute; top:14px; left:15px;}
nav > ul > li > ul > li > a.on {color:#6c757d;}
nav > ul > li > ul > li > a.on::before {background:#6c757d;}
nav > ul > li > ul ul {background:rgba(255,255,255,0.07); border-radius:6px; padding:5px 0; margin:5px 15px;}
nav > ul > li > ul ul > li > a {padding:5px 15px; font-size:13px;}
nav > ul > li.has_sub > a::after {content:''; display:inline-block; background-position:0 0; position:absolute; top:50%; right:15px; margin-top:-3px; width:10px; height:6px; z-index:1; transition:all 0.1s; transform-origin:50% 50%;}
nav > ul > li.has_sub > a.on::after {transform:rotate(180deg); opacity:1;}

footer {background:#fff; box-shadow:0 0 20px rgba(80,80,80,0.1); height:40px; line-height:40px; font-size:12px; color:#999; text-align:center; letter-spacing:0; position:absolute; bottom:0; left:0; width:100%;}
