
/* 로그인 ------------------------------- */
#login_wrap * {font-family: 'Gowun Dodum', sans-serif; font-weight:400; letter-spacing:0;}
#login_wrap {background:#e8ebf0; width:100%; height:100%; min-width:700px; min-height:400px; position:absolute; top:0;}

#login_box {position:absolute; top:50%; left:50%; margin:-175px 0 0 -340px; width:680px; height:350px; background:#fff; box-shadow:0 0 20px rgba(80,80,80,0.1); border-radius:20px; text-align:center;}
#login_box h2 {font-size:24px; font-weight:500; color:#222; line-height:1.2; position:relative; margin-top:0;}
#login_box h2:before {display:block; background-position:0 -75px; width:110px; height:86px; margin:0 auto; margin-bottom:10px;}
#login_box h2 img {max-height:34px;}
#login_box h2 i {display:block; font-size:10px; color:#777; font-weight:300;}
#login_box h2 + p {font-size:48px; color:#333; font-family:'Gowun Dodum', sans-serif, Dotum; font-weight:bold;}
#login_box h2 + p i {color:#6f8294; font-weight:bold;}
#login_box h2 + p > span {display:block; font-size:24px; color:#222; font-weight:bold;}
#login_box .login_con {overflow:hidden; margin:50px 40px; position:relative;}
#login_box .login_con:after {content:''; background:#ddd; width:1px; height:100%; position:absolute; top:0; left:240px;}
#login_box .login_tit {float:left; width:35%; padding-top:50px;}
#login_box .login_input {margin:10px 0 0 0; float:right; width:52%;}
#login_box .login_input ul li {background:#fff;}
#login_box .login_input ul li + li {margin-top:7px;}
#login_box .login_input ul li input {border:1px solid #d5d5d5; border-radius:50px; margin:0; font-size:14px; padding:0px 20px; width:100%; height:47px;}
#login_box .login_btn {background:#6f8294; border:0; border-bottom:solid 3px #6c757d; border-radius:50px; width:100%; height:52px; line-height:52px; font-size:16px; color:#fff; text-align:center; margin:20px 0 15px;}
#login_box .login_input ul li input::-webkit-input-placeholder {color:#999; font-size:14px;}/* Webkit */
#login_box .login_input ul li input:-moz-placeholder {color:#999; font-size:14px;}/* moz */
#login_box .login_input ul li input:-ms-input-placeholder {color:#999; font-size:14px;}/* IE10+ */
#login_wrap .copyright {color:#888; position:absolute; bottom:30px; width:100%; text-align:center;}

.bg-image-vertical {
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto 100%;
}

@media (min-width: 1025px) {
    .h-custom-2 {
        height: 100%;
    }
}