server:
  port: 8080
  servlet:
    context-path: /    # 내프로젝트에 들어가기 위한 진입점
    encoding:
      charset: UTF-8
      enabled: true
      force: true

spring:
  datasource:
    url: jdbc:mariadb://localhost:3306/dotdot?serverTimezone=Asia/Seoul
    username: root
    password: root1234
    driver-class-name: org.mariadb.jdbc.Driver

  thymeleaf:
    cache: 'false'

  jpa:
    hibernate:
      ddl-auto: update # create, update, none
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
    show-sql: true
    properties:
      hibernate:
        format_sql: 'true'
        use_sql_comments: 'true'
        default_batch_fetch_size: '100'

  jackson:
    serialization:
      fail-on-empty-beans: false

  servlet:
    multipart:
      max-file-size: 100MB
      max-request-size: 100MB

logging:
  level:
    org.hibernate.orm.jdbc.bind: trace